# Give your api keys for the model
GROQ_API_KEY=
LANGCHAIN_API_KEY=

# This is for observability of your project on https://smith.langchain.com , keep tracing true so that you observe on the smith 
LANGSMITH_TRACING=true
LANGSMITH_PROJECT=

# Add your own model's either open soure or paid opnes
PRIMARY_MODEL=
SECONDARY_MODEL=
MODEL_PROVIDER=